src/utils/priv/*
raw-assets/*
tmp/*
v1/*
*error.log
.DS_Store
envs/*
node_modules/*

easton.js
src/views/temp

# for dirty route
dist/Trump.zip

# directory that was accidentally dumped here maybe?
# figure out after DevOps meeting
dist/Pretrained
