              <!-- <p class="tc mb0 footer-signature">
                <kbd class="f6 footer-signature" style="display: inline-block">
                  <i class="far fa-envelope fa-xs" ></i> justin@jsore.com
                </kbd>
              </p> -->
            </article>
          </main>
        </div>
      </div>
      <footer class="pa2 w-100 fixed bg-black pl4 bottom-0">
        <small class="f6 db w-100 copyright">
          © 2019 Justin Sorensen
          <!-- <span class="center" style="display: flex; justify-content: center;">
            <i class="fab fa-github-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fas fa-envelope"></i>
          </span> -->
          <span style="float: right">
            <kbd class="f6 pr4 construction-todo">
              Fair warning: site is still under construction
            </kbd>
          </span>
        </small>
      </footer>
    </div>
  </body>
</html>
