@import url('https://fonts.googleapis.com/css?family=Archivo');
body {
    font-family: 'Archivo', sans-serif;
}
.container {
    /*display: grid;*/
    /*grid-template-rows: auto;*/
    /*grid-template-columns: auto;*/
    position: fixed;
    top: 150px;
    width: 100%;
    height: 100;
}
.jsore-main {
    display: grid;
    /*grid-template-rows: auto;*/
    align-items: center;
}
/** top container under jsore-main */
.parent {
    /** force grid instead of block */
    display: grid;
    /** define three columns */
    grid-template-columns: 20% 60% 20%; /** TODO: this should be moved to body.container; */
    text-align: center;
}

/** container for bio items */
.bio {
    border: 1px solid #efefef;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;

    /** force grid instead of block */
    display: grid;
    /** there's gonna be three rows in this container */
    grid-template-rows: 50px 50px 80px;
    /** put the container into middle column */
    grid-column: 2;
    padding: 30px 30px 30px 30px;
}
.bio:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.bio-name {
    /** force grid instead of block */
    display: grid;
    /** top row */
    grid-row: 1;
    font-size: 30px;
    font-weight: bold;
    font-weight: 100;
    color: #444444;
}

.bio-background {
    /** force grid instead of block */
    display: grid;
    /** bottom row */
    grid-row: 2;
    font-size: 25px;
    font-weight: light;
    /*font-weight: 200;*/
    color: #666666;
}

.bio-text {
    /** force grid instead of block */
    display: grid;
    /** align-self + justify-self one liner */
    place-self: center center;
    /** fix the fucky padding issue */
    margin: 0px 0px 0px 0px;
}

a {
    color: #888888;
    text-decoration: none;
    font-size: 18px;
}
a:hover {
    color: #444444;
}
.construction {
    display: grid;
    grid-row: 3;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.construction-text {
    font-size: 18px;
    color: #888888;
    /*text-decoration: none;*/
}