body {
    /*margin: 0px 0px 0px 0px;*/
    /*padding: 0px 0px 0px 0px;*/
}

/** top container under jsore-main */
.parent {
    border: 1px solid black;

    /*grid-template-columns: 100px 500px 100px;*/
    /*grid-template-rows: 100px 100px;*/
    /*grid-template-rows: auto auto;*/
    /*grid-gap: 20px;*/

    /** force grid instead of block */
    display: grid;
    /** define three columns */
    grid-template-columns: 20% 60% 20%; /** TODO: this should be moved to body.container; */
    text-align: center;
}

/** container for bio items */
.bio {
    border: 1px solid black;

    /** hacks, don't work */
    /*grid-column-start: 2;*/
    /*grid-column-end: 3;*/

    /** force grid instead of block */
    display: grid;
    /** there's gonna be two rows in this container */
    grid-template-rows: 150px 150px;
    /** put the container into middle column */
    grid-column: 2;
}

.bio-name {
    border: 1px solid black;

    /** hacks, don't work */
    /*align-self: center;*/
    /*justify-self: center;*/
    /*.p { align-self: stretch; }*/
    /*justify-content: center;*/
    /*align-content: center;*/
    /*align-content: space-evenly;*/
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/

    /** force grid instead of block */
    display: grid;
    /** top row */
    grid-row: 1;
}

.bio-background {
    border: 1px solid black;

    /** hacks, don't work */
    /*align-self: center;*/
    /*justify-self: center;*/
    /*.p { align-self: stretch; }*/
    /*justify-self: center;*/
    /*justify-content: center;*/
    /*align-items: stretch;*/
    /*align-content: space-evenly;*/

    /** force grid instead of block */
    display: grid;
    /** bottom row */
    grid-row: 2;
}

.bio-text {
    /** hacks, don't work */
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /** force grid instead of block */
    display: grid;
    /** align-self + justify-self one liner */
    place-self: center center;
    /** fix the fucky padding issue */
    margin: 0px 0px 0px 0px;
}
