<!-- "header" already imported by fs -->

  <h2 class="tc grow page-content-title">
    Down For Maintenance
  </h2>
  <p class="tc mb0 post-date"><kbd class="f6 page-content-title post-date">
    2019.10.01
  </kbd></p>
</header>

<div class="pa5 ph6 text-wrapper">

  <p class="f5 lh-copy page-content-text">
    I'm currently working on a back-end upgrade for my personal network, along
    with a refreshed front-end for this site.
  </p>

  <p class="f5 lh-copy page-content-text">
    This will eventually act as a portfolio of my technical background and
    serve some of my writeups about development and server administration.
  </p>

  <p class="f5 lh-copy page-content-text">
    While I work on improvements here,
    <a href="https://github.com/jsore" target="_blank" class="link underline pointer black dim fw4"
    title="GitHub Profile">my GitHub profile</a>
    is where you'll find my code and raw versions of the
    <a href="https://github.com/jsore/jsore" target="_blank" class="link underline pointer black dim fw4"
    title="GitHub | jsore.com Repo">personal</a>
    <a href="https://github.com/jsore/notes" target="_blank" class="link underline pointer black dim fw4"
    title="GitHub | Justin's Notes Repo">technical</a>
    <a href="https://github.com/jsore/notes/tree/master/v2/enterprise-js" target="_blank" class="link underline pointer black dim fw4"
    title="GitHub | Justin's Current Research Repo">documentation</a>
    that I've written; the notes I've taken while researching
    <kbd class="kbd-snippet">newThing</kbd>.
  </p>

</div>

<!-- "footer" gets imported after this does -->
