<!-- header imported from view -->
<!-- <div class="construction"> -->
  <!-- <h2 class="construction-text">Down For Maintenance</h2> -->
  <h2>Down For Maintenance</h2>
  <p class="main-content-text">
    I'm currently working on a back-end upgrade for my personal network, along<br>
    with a refreshed front-end for this site.
  </p>
  <p class="main-content-text">
    This will eventually act as a portfolio of my technical background and serve<br>
    some of my writeups about development and server administration.
  </p>
  <p class="main-content-text">
    <!--
    While I work on improvements here, my GitHub is where you'll find my code and
    raw versions of the personal technical documentation that I've written.
    -->
    While I work on improvements here,
    <a href="https://github.com/jsore" target="_blank">my GitHub</a>
    is where you'll find my code and<br>
    raw versions of the
    <a href="https://github.com/jsore/jsore" target="_blank">personal</a>
    <a href="https://github.com/jsore/notes" target="_blank">technical</a>
    <a href="https://github.com/jsore/notes/tree/master/v2/enterprise-js" target="_blank">documentation</a>
    that I've written.
  </p>
  <!-- <p>
    <kbd style="display: inline-block">
      <i class="far fa-envelope fa-xs" ></i> justin@jsore.com
    </kbd>
  </p> -->
<!-- </div> -->
<!-- footer imported from view -->
