
      <h2 class="tc grow page-content-title">
        <!-- Looking for a Full Stack Developer? -->
        This is a test page!
      </h2>
    </header>
      <div class="pa5 ph8 text-wrapper" style="padding-left: 0; padding-right: 0;">
        <p class="f5 lh-copy page-content-text" style="text-align: center">
          I <span><i class="f6 far fa-heart"></i></span> programming, fixing stuff
          and documenting everything along the way.
        </p>
      </div>
  </article>
</main>

<main class="fl w-100 w-100-ns center h-100 pa3 pb0 pa5-ns main" style="max-width: unset; margin-left: 0; margin-right: 0; padding-right: 0; padding-left: 0; padding-bottom: 0;">
  <article class="center h-100 pt0 article-content"  style="border-bottom: none; --webkit-box-shadow: none; box-shadow: none; color: #f2f2f2; background-color: black">
    <header class="tc-1 ph3 ph4-ns lh-title pt4 pt5-ns">
      <h2 class="tc grow page-content-title" id="what-im-good-at" style="color: #f2f2f2;">
        What I'm Good At
      </h2>
    </header>

    <div class="pa5 w-100 text-wrapper bio-text-wrapper" style="display: flex; flex-flow: row; justify-content: center">
      <div style="display: flex; flex-flow: column;">
        <h3 class="bio-content-titles" style="text-align: center;">Documentation</h3>
        <p class="f5 lh-copy page-content-text content-text-black-bg good-documentation" style="min-width: 20rem; max-width: 24rem">
          Whether establishing procedures and logging info for my team's use or
          tracking what I learn while researching a technology, keeping good docs
          is always a priority.
        </p>
      </div>

      <div style="display: flex; flex-flow: column;">
        <h3 class="bio-content-titles" style="text-align: center;">Communication</h3>
        <p class="f5 lh-copy page-content-text content-text-black-bg" id="i-are-good-with-words">
          It can be difficult to put yourself in someone else's mindset when a
          question needs answering or an idea needs to be shared. I believe knowing
          how to speak to people is an important asset.
        </p>
      </div>

      <div style="display: flex; flex-flow: column;">
        <h3 class="bio-content-titles" style="text-align: center;">Learning</h3>
        <p class="f5 lh-copy page-content-text content-text-black-bg learning" style="min-width: 20rem; max-width: 24rem">
          A large amount of my time is spent reading and researching. My skillset
          has been primarily self-taught, fueled by my passion for continued
          education knowledge-growth.
        </p>
      </div>
    </div>

    <header class="tc-1 ph3 ph4-ns lh-title pt4 pt5-ns">
      <h2 class="tc grow page-content-title" id="what-i-know" style="color: #f2f2f2;">
        What I Know
      </h2>
    </header>
    <div class="pa5 w-100 text-wrapper bio-text-wrapper" style="display: flex; flex-flow: row; justify-content: center">
      <div class="bio-text-wrapper-wrapper" style="display: flex; flex-flow: column; margin-right: 2rem;">
        <h3 class="bio-content-titles" style="text-align: center;">Development Technologies</h3>
        <div class="bio-text-wrapper" style="display: flex; flex-flow: row; justify-content: center">
          <p class="f5 lh-copy page-content-text  content-text-black-bg what-i-know-text" style="min-width: 20rem; max-width: 24rem; padding-right: 1.5rem;">
            <span style="display: block; text-align: center; padding-bottom: 10px">
              My main stack includes: <br>
            </span>
            <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
              JavaScript and Node.js with HTML/CSS<br>
            <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
              Express, Webpack and Elasticsearch<br>
            <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
              Mac, Linux ( CentOS ) and Git
          </p>
        <p class="f5 lh-copy page-content-text  content-text-black-bg what-i-know-text" style="min-width: 15rem; max-width: 24rem; padding-left: 1.5rem;">
          <span style="display: block; text-align: center; padding-bottom: 10px">
            I also have experience with: <br>
          </span>
          <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
            PHP, SQL, Bash, Python, C<br>
          <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
            Working with RESTful API's<br>
          <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
            TDD-Oriented development
        </p>
        </div>
      </div>

      <div class="bio-text-wrapper-wrapper" style="display: flex; flex-flow: column; margin-left: 2rem;">
        <h3 class="bio-content-titles" style="text-align: center;">IP Networking & Server Admin</h3>
        <p class="f5 lh-copy page-content-text  content-text-black-bg what-i-know-text" style="min-width: 21rem; max-width: 24rem">
          <span style="display: block; text-align: center; padding-bottom: 10px">
            I'm Net+ certified and know: <br>
          </span>
          <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
            Apache, NGINX, HTTPS and Firewalld/ufw<br>
          <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
            DHCP, VLAN routing and subnetting<br>
          <i class="fas fa-cog fa-spin" style="margin-right: 8px; font-size: .85rem"></i>
            DNS and Cloud-based Web and Mail servers
        </p>
      </div>
    </div>

    <header class="tc-1 ph3 ph4-ns lh-title pt4 pt5-ns">
      <h2 class="tc grow page-content-title" id="get-in-touch" style="color: #f2f2f2;">
        Get In Touch
      </h2>
    </header>
    <div class="pa5 w-100 text-wrapper" style="display: flex; flex-flow: row; justify-content: center">
      <!-- <div style="display: flex; flex-flow: row;"> -->
        <div style="display: flex; flex-flow: column">
          <h3 style="text-align: center;">
            <a class="link no-underline underline-hover pointer contact-links" title="GitHub | Jsore" href="https://github.com/jsore">
              GitHub
            </a>
          </h3>
          <p class="f5 lh-copy page-content-text" style="max-width: 24rem;">
          </p>
        </div>

        <div class="contact-email-wrapper" style="display: flex; flex-flow: column; padding-left: 4rem; padding-right: 4rem">
          <h3 style="text-align: center;"><kbd class="contact-email contact-links" style="display: inline-block">
                  <i class="far fa-envelope fa-xs" ></i> justin@jsore.com
                </kbd></h3>
          <p class="f5 lh-copy page-content-text" style="max-width: 24rem;">
          </p>
        </div>

        <div style="display: flex; flex-flow: column">
          <h3 style="text-align: center;">
            <a class="link no-underline underline-hover pointer contact-links" title="LinkedIn | Justin Sorensen" href="https://www.linkedin.com/in/jsore-justin-sorensen/">
              LinkedIn
            </a>

          </h3>
          <p class="f5 lh-copy page-content-text" style="max-width: 24rem;">
          </p>
        </div>
      <!-- </div> -->
    </div>




</div>
