  <p>under construction</p>

  <h2 class="tc grow page-content-title">
    Looking for a Developer or DevOps Engineer?

  </h2>
  <!-- <p class="tc mb0 post-date"><kbd class="f6 page-content-title post-date">
    yyyy.mm.dd
    2019.10.08
  </kbd></p> -->
</header>

<div class="pa5 ph8 text-wrapper">

  <p class="f5 lh-copy page-content-text" style="text-align: center">
    <!-- Text Content -->
    <!-- Programming, fixing and writing is what I do, wrangling servers is what I love. -->
    I
    <!-- <span> <kbd> <3 </kbd> </span> -->
    <span><i class="f6 far fa-heart"></i></span>
    programming, wrangling servers, fixing stuff and writing about each.
  </p>

  <p class="f5 lh-copy page-content-text">

  </p>
  <p class="f5 lh-copy page-content-text">

  </p>

</div>
</article>
</main>

<main class="fl w-100 w-100-ns center h-100 pa3 pb0 pa5-ns main" style="max-width: unset; margin-left: 0; margin-right: 0; padding-right: 0; padding-left: 0; padding-bottom: 0;">
            <article class="center h-100 pb5 pt0 article-content"  style="border-bottom: none; --webkit-box-shadow: none; box-shadow: none; color: #f2f2f2; background-color: black">
              <header class="tc-1 ph3 ph4-ns lh-title pt4 pt5-ns">
                <h2 class="tc grow page-content-title" style="color: #f2f2f2;">
    Skills

  </h2>
              </header>

<!-- <div class="pa5 ph8 text-wrapper"> -->
<div class="pa5 w-100 text-wrapper">

  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text. Here's some text. Here's some text. Here's some text.  Here's some text. Here's some text. Here's some text. Here's some text.
  </p>
  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>
  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>

  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>
  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>
  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>

  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>
  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>
  <p class="f5 lh-copy page-content-text" style="text-align: center">
    Here's some text.
  </p>

</div>
